:root {
  --main-bg-color: #000000;
  --toggle-color: #fff;
  --toggle-bg-color: #5e5e5e;
  --toggle-bg-color-active: #03a9f4;
  --toggle-width: 200px;
  --toggle-height: calc(var(--toggle-width) / 2);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  position: relative;
  width: var(--toggle-width);
  height: var(--toggle-height);
  -webkit-appearance: none;
  background-color: var(--toggle-bg-color);
  border-radius: var(--toggle-height);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  cursor: pointer;
}

.toggle-button:checked {
  background-color: var(--toggle-bg-color-active);
}

.toggle-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--toggle-height);
  height: var(--toggle-height);
  background-color: var(--toggle-color);
  border-radius: calc(var(--toggle-height) / 2);
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.toggle-button:checked:before {
  left: var(--toggle-height);
}
