/* .bg-light {
  background-color: #fafafa !important;
} */

.list-group-item {
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.page {
  padding-left: 20px;
  padding-right: 20px;
}
.operation-icon-danger {
  margin-left: 20px;
  color: #b1b1b1;
}

.badge-purple {
  color: #fff;
  background-color: #b9b9b9;
}

.th-inner {
  transition: all 200ms ease;
  color: #6e6d7a;
  font-weight: 400;
  font-size: 14px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.operation-icon-danger:hover {
  color: #797979;
}

.operation-icon {
  color: #b1b1b1;
}

.operation-icon:hover {
  color: #797979;
}

.py-5-new {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.logo {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.29);
  -moz-box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.29);
  box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.29);
}

.logo:hover {
  -webkit-box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.44);
  -moz-box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.44);
  box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.44);
}

.list-group {
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 24px 4px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 6px 24px 4px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 6px 24px 4px rgba(0, 0, 0, 0.11);
}

.btn {
  border-radius: 32px;
}

.btn-primary {
  background: rgb(161, 63, 251);
  background: -moz-linear-gradient(
    128deg,
    rgba(161, 63, 251, 1) 0%,
    rgba(252, 70, 184, 1) 100%
  );
  background: -webkit-linear-gradient(
    128deg,
    rgba(161, 63, 251, 1) 0%,
    rgba(252, 70, 184, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(161, 63, 251, 1) 0%,
    rgba(252, 70, 184, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a13ffb",endColorstr="#fc46b8",GradientType=1);
  border: 0px;
  -webkit-box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.44);
  -moz-box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.44);
  box-shadow: 0px 10px 28px -7px rgba(255, 0, 255, 0.44);
}

a:hover {
  text-decoration: none;
}

.allow {
  background-color: #7ed450;
  width: 60%;
  border: none;
  padding: 4px 6px !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 12px 0px;
  border-radius: 32px;
}

.block {
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
  animation: anime 16s linear infinite;
  width: 60%;
  color: #fff;
  padding: 4px 6px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 12px 0px;
  border-radius: 32px;
}

@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.table {
  border: none;
}

.d-search {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f1f1f1;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.d-select {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23cfcfcf' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
}
