body {
  margin: 0;
  font-family: Arial;
  font-size: 5em;
  background-color: #000;
}

.box {
  padding-top: 5em;
  font-size: 80px;
  text-align: center;
  background-color: #dadada18;
  border-radius: 38px;
}

.box:hover {
  -webkit-animation: fade 3s ease-in-out;
  -moz-animation: fade 3s ease-in-out;
  -o-animation: fade 3s ease-in-out;
  animation: fade 3s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    background: #dadada3f;
  }
  to {
    background: #dadada18;
  }
}
@-moz-keyframes fade {
  from {
    background: #dadada3f;
  }
  to {
    background: #dadada18;
  }
}
@keyframes fade {
  from {
    background: #dadada3f;
  }
  to {
    background: #dadada18;
  }
}

.tweets {
  color: #6cbe00;
  margin: 20px 0 20px 20px;
}
.replies {
  color: #2ba5ec;
  margin: 20px 20px 20px 20px;
}
.search {
  color: #f4f80c;
  margin: 0px 0 60px 20px;
}
.messages {
  color: #c45c5c;
  margin: 0px 20px 60px 20px;
}

/* Our Grid Code */
.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

span {
  color: rgb(199, 199, 199);
  font-size: 50px;
  font-weight: normal;
  padding: 25px 0 10px 0;
  display: block;
  text-transform: uppercase;
  font-family: "-apple-system", "HelveticaNeue";
  letter-spacing: 1px;
}
