body {
  margin: 0;
  font-family: Arial;
  font-size: 5em;
  background-color: #000;
}

.box {
  padding-top: 5em;
  font-size: 80px;
  text-align: center;
  background-color: #efefef;
}

.tweets {
  color: #6cbe00;
  background-color: #dadada2d;
  margin: 20px 0 20px 20px;
  border-radius: 38px;
}
.replies {
  color: #2ba5ec;
  background-color: #dadada2d;
  margin: 20px 20px 20px 20px;
  border-radius: 38px;
}
.search {
  color: #f4f80c;
  margin: 0px 0 60px 20px;
  background-color: #dadada2d;
  border-radius: 38px;
}
.messages {
  color: #c45c5c;
  margin: 0px 20px 60px 20px;
  background-color: #dadada2d;
  border-radius: 38px;
}

/* Our Grid Code */
.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

span {
  color: rgb(199, 199, 199);
  font-size: 50px;
  padding: 25px 0 10px 0;
  display: block;
  text-transform: uppercase;
  font-family: "-apple-system", "HelveticaNeue";
  letter-spacing: 1px;
}
